<!DOCTYPE html>
<html>
<head>
    <title>扫码点餐</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

<style>
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	blockquote {
		margin: 0;
		padding: 0;
	}

	body {
		font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
		font-size: 13px;
		line-height: 18px;
		color: #737373;
		background-color: white;
		margin: 10px 13px 10px 13px;
		position: relative;
		padding-left: 170px;
	}

	.menus {
		position: fixed;
		left: 0;
		top: -13px;
		height: 100%;
		overflow: auto;
		width: 180px;
		padding-left: 0;
		border: 1px solid #ddd;
		background: #fff;
		z-index: 999;
		font-size: 14px;
		line-height: 30px;
	}

	.menus li {
		padding: 0 10px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		border-bottom: 1px solid #ddd;
	}

	.menus li a {
		text-decoration: none;
	}

	.menus li a.active {
		color: #f00;
	}

	@media screen and (min-width: 914px) {
		.menus {
			left: 45%;
			margin-left: -490px;
		}
	}

	table {
		margin: 10px 0 15px 0;
		border-collapse: collapse;
	}

	td,
	th {
		border: 1px solid #ddd;
		padding: 3px 10px;
        min-width: 100px;
        min-height: 100px;
        height: 30px;
	}

	th {
		padding: 5px 10px;
	}

	a {
		color: #0069d6;
	}

	a:hover {
		color: #0050a3;
		text-decoration: none;
	}

	a img {
		border: none;
	}

	p {
		margin-bottom: 9px;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: #404040;
		line-height: 36px;
	}

	h1 {
		margin-bottom: 18px;
		font-size: 30px;
	}

	h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 18px;
	}

	h4 {
		font-size: 16px;
	}

	h5 {
		font-size: 14px;
	}

	h6 {
		font-size: 13px;
	}

	hr {
		margin: 0 0 19px;
		border: 0;
		border-bottom: 1px solid #ccc;
	}

	blockquote {
		padding: 13px 13px 21px 15px;
		margin-bottom: 18px;
		font-family: georgia, serif;
		font-style: italic;
	}

	blockquote:before {
		content: "\201C";
		font-size: 40px;
		margin-left: -10px;
		font-family: georgia, serif;
		color: #eee;
	}

	blockquote p {
		font-size: 14px;
		font-weight: 300;
		line-height: 18px;
		margin-bottom: 0;
		font-style: italic;
	}

	code,
	pre {
		font-family: Monaco, Andale Mono, Courier New, monospace;
	}

	code {
		background-color: #fee9cc;
		color: rgba(0, 0, 0, 0.75);
		padding: 1px 3px;
		font-size: 12px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}

	pre {
		display: block;
		padding: 14px;
		margin: 0 0 18px;
		line-height: 16px;
		font-size: 11px;
		border: 1px solid #d9d9d9;
		white-space: pre-wrap;
		word-wrap: break-word;
	}

	pre code {
		background-color: #fff;
		color: #737373;
		font-size: 11px;
		padding: 0;
	}

	sup {
		font-size: 0.83em;
		vertical-align: super;
		line-height: 0;
	}

	* {
		-webkit-print-color-adjust: exact;
	}

	@media screen and (min-width: 914px) {
		body {
			width: 854px;
			margin: 10px auto;
		}
	}

	@media print {

		body,
		code,
		pre code,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: black;
		}

		table,
		pre {
			page-break-inside: avoid;
		}
	}
</style>


    <script>
        window.onload = function () {
            var hash = window.location.hash;
            if (hash.indexOf('#') < 0) {
                hash = '';
            } else {
                if (hash.indexOf('?') < 0) {
                    hash = hash.substr(1);
                } else {
                    hash = hash.substr(1, hash.indexOf('?') - 1);
                }
            }
            document.getElementById('a_' + hash).className = 'active';
            if (!!window.attachEvent) {
                document.querySelector('.menus').attachEvent('onclick', function (e) {
                    if (!!document.getElementById(e.target.id)) {
                        document.querySelector('.menus .active').className = '';
                        document.getElementById(e.target.id).className = 'active';
                    }
                });
            } else {
                document.querySelector('.menus').addEventListener('click', function (e) {
                    if (!!document.getElementById(e.target.id)) {
                        document.querySelector('.menus .active').className = '';
                        document.getElementById(e.target.id).className = 'active';
                    }
                });
            }
        };
    </script>

</head>

<body>
    <ul class="menus">
        <li><a href="#href1" id="a_href1">API接口注意事项</a></li>
        <li><a href="#id2" id="a_href2">登录</a></li>
        <li><a href="#id5" id="a_href5">上传图片</a></li>
        <li><a href="#id6" id="a_href6">账号列表</a></li>
        <li><a href="#id3" id="a_href3">账号添加</a></li>
        <li><a href="#id4" id="a_href4">账号修改</a></li>
        <li><a href="#id7" id="a_href7">账号删除</a></li>
        <li><a href="#id8" id="a_href8">账号查询</a></li>

        <li><a href="#id9" id="a_href9">桌号列表</a></li>
        <li><a href="#id10" id="a_href10">桌号添加</a></li>
        <li><a href="#id11" id="a_href11">桌号修改</a></li>
        <li><a href="#id12" id="a_href12">桌号删除</a></li>
        <li><a href="#id13" id="a_href13">桌号查询</a></li>







    </ul>
    </div>
    <h1>APP接口文档</h1>
    <p>
        <h4>
            <a id="href1" href="http://open.seyuedu.cn/test/showapi#API%E6%8E%A5%E5%8F%A3%E6%B3%A8%E6%84%8F%E4%BA%8B%E9%A1%B9">API接口注意事项</a>：</h4>

        <p>所有接口公共参数（如下，接口里面将不再另行列出公共参数说明）：</p>

        <table>
            <thead>
                <tr>
                    <th>参数名称</th>
                    <th>是否必需</th>
                    <th>参数说明</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>api_key</td>
                    <td>是</td>
                    <td>找技术人员分配
                        <b>（不同设备会有所不同，需要技术人员分配）</b>
                    </td>
                </tr>
                <tr>
                    <td>req_time</td>
                    <td>是</td>
                    <td>请求接口时间（Unix时间戳+4位的随机数）
                        <br>如：时间戳=1466650143；4位随机数=1234；
                        <br>那么：req_time=14666501431234
                    </td>
                </tr>
                <tr>
                    <td>api_token</td>
                    <td>是</td>
                    <td>
参数说明 api_token=a84df9733d88f81433ddf1d35f2aa975<br />
1.获取所有的待传参数，去掉键为api_key,api_secret的参数 ，加入api_token参数；<br />
2.用函数 ksort($para);reset($para);排序参数<br />
3.所有参数排序后以键=值的形式拼接成字符串，每个参数以&连接(最后一个参数后面去掉&)(例子 a=1&b=2&c=3).<br />
4.md5加密<br />
                    </td>
                </tr>
            </tbody>
        </table>

        <p>
            <b>注意：所有接口code=0表示成功；文档中的app_key仅用于测试，可能会影响程序功能，不能在开发中使用</b>
            <br>
        </p>

    </p>



<h4><a name="id2">登录</a></h4>

    <table>
        <thead>
            <tr>
                <th>接口概述</th>
                <th>登录</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>功能描述</td>
                <td>登录</td>
            </tr>
            <tr>
                <td>请求方式</td>
                <td> http请求post方式</td>
            </tr>
            <tr>
                <td>接口地址</td>
                <td>
http://git.localhost.com/smdc/api/user/login?api_key=23166839&account=admin&password=123456&post_change_get=1
                </td>
            </tr>
            <tr>
                <td>接口作者</td>
                <td>wangchun</td>
            </tr>
            <tr>
                <td>接口版本</td>
                <td>1.0.0</td>
            </tr>
        </tbody>
    </table>


    <table>
        <thead>
            <tr>
                <th>参数名称</th>
                <th>类型</th>
                <th>必选</th>
                <th>描述</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>account</td>
                <td>string</td>
                <td>是</td>
                <td>账号</td>
            </tr>

            <tr>
                <td>password</td>
                <td>string</td>
                <td>是</td>
                <td>密码</td>
            </tr>

        </tbody>
    </table>


    <p>成功返回结果</p>

    <pre><code>
{
    "result": {
        "status": {
        "code": 0,
        "msg": "succ"
        },
        "data": 
        {
            "account": "admin",  账号
            "shop_name": "",  店铺名称
            "shop_address": "", 店铺地址
            "contact_phone": "", 联系电话
            "shop_owner_name": "", 店长名称
            "shop_owner_phone": "", 店长电话
            "business_hours": "", 营业时间
            "shop_img_url": "",  店铺图片
            "shop_note": "",  店铺备注
            "other_note": null, 其他说明
            "role": "admin",  角色： admin 超级管理员  user用户
            "is_delete": "0",  是否关闭，1已关闭，0未关闭
            "add_time": null,  添加时间
            "update_time": null,  更新时间
            "user_token": "8b03ea885d23b2a06c4fe7af4742d05d" 用户token
        }
    }
}
</code></pre>





<h4><a name="id3">账号添加</a></h4>

<table>
	<thead>
		<tr>
			<th>接口概述</th>
            <th>账号添加</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>功能描述</td>
            <td>账号添加</td>
		</tr>
		<tr>
			<td>请求方式</td>
			<td> http请求post方式</td>
		</tr>
		<tr>
			<td>接口地址</td>
			<td>
http://git.localhost.com/smdc/api/user/add?api_key=23166839&account=admin&password=123456&post_change_get=1&user_token=8b03ea885d23b2a06c4fe7af4742d05d
			</td>
		</tr>
		<tr>
			<td>接口作者</td>
			<td>wangchun</td>
		</tr>
		<tr>
			<td>接口版本</td>
			<td>1.0.0</td>
		</tr>
	</tbody>
</table>


<table>
	<thead>
		<tr>
			<th>参数名称</th>
			<th>类型</th>
			<th>必选</th>
			<th>描述</th>
		</tr>
	</thead>
	<tbody>
        <tr>
            <td>user_token</td>
            <td>string</td>
            <td>是</td>
            <td>登录返回的user_token</td>
        </tr>

		<tr>
			<td>account</td>
			<td>string</td>
			<td>是</td>
			<td>账号</td>
		</tr>

		<tr>
			<td>password</td>
			<td>string</td>
			<td>是</td>
			<td>密码</td>
        </tr>
        
        <tr>
            <td>shop_name</td>
            <td>string</td>
            <td>否</td>
            <td>店铺名称</td>
        </tr>

        <tr>
            <td>shop_address</td>
            <td>string</td>
            <td>否</td>
            <td>店铺地址</td>
        </tr>

        <tr>
            <td>contact_phone</td>
            <td>string</td>
            <td>否</td>
            <td>联系电话</td>
        </tr>

        <tr>
            <td>shop_owner_name</td>
            <td>string</td>
            <td>否</td>
            <td>店长名称</td>
        </tr>

        <tr>
            <td>shop_owner_phone</td>
            <td>string</td>
            <td>否</td>
            <td>店长电话</td>
        </tr>

        <tr>
            <td>business_hours</td>
            <td>string</td>
            <td>否</td>
            <td>营业时间</td>
        </tr>
        <tr>
            <td>shop_img_url</td>
            <td>string</td>
            <td>否</td>
            <td>店铺图片</td>
        </tr>
        <tr>
            <td>shop_note</td>
            <td>string</td>
            <td>否</td>
            <td>店铺备注</td>
        </tr>
        <tr>
            <td>other_note</td>
            <td>string</td>
            <td>否</td>
            <td>其他备注</td>
        </tr>

	</tbody>
</table>


<p>成功返回结果</p>

<pre><code>
{
    "result": {
        "status": {
        "code": 0,
        "msg": "succ"
        },
        "data": 
        {
            1  表自增长数字
        }
    }
}
</code></pre>




<h4><a name="id4">账号修改</a></h4>

<table>
	<thead>
		<tr>
			<th>接口概述</th>
            <th>账号修改</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>功能描述</td>
            <td>账号修改</td>
		</tr>
		<tr>
			<td>请求方式</td>
			<td> http请求post方式</td>
		</tr>
		<tr>
			<td>接口地址</td>
			<td>
http://git.localhost.com/smdc/api/user/edit?api_key=23166839&account=admin&password=123456&post_change_get=1&user_token=8b03ea885d23b2a06c4fe7af4742d05d
			</td>
		</tr>
		<tr>
			<td>接口作者</td>
			<td>wangchun</td>
		</tr>
		<tr>
			<td>接口版本</td>
			<td>1.0.0</td>
		</tr>
	</tbody>
</table>


<table>
	<thead>
		<tr>
			<th>参数名称</th>
			<th>类型</th>
			<th>必选</th>
			<th>描述</th>
		</tr>
	</thead>
	<tbody>
        <tr>
            <td>user_token</td>
            <td>string</td>
            <td>是</td>
            <td>登录返回的user_token</td>
        </tr>

        <tr>
            <td>id</td>
            <td>int</td>
            <td>是</td>
            <td>编号: 超级管理员必须传递id，一般用户无需传递</td>
        </tr>

		<tr>
			<td>account</td>
			<td>string</td>
			<td>是</td>
			<td>账号</td>
		</tr>

		<tr>
			<td>password</td>
			<td>string</td>
			<td>是</td>
			<td>密码</td>
		</tr>

		<tr>
			<td>shop_name</td>
			<td>string</td>
			<td>否</td>
			<td>店铺名称</td>
		</tr>

		<tr>
			<td>shop_address</td>
			<td>string</td>
			<td>否</td>
			<td>店铺地址</td>
		</tr>

		<tr>
			<td>contact_phone</td>
			<td>string</td>
			<td>否</td>
			<td>联系电话</td>
		</tr>

		<tr>
			<td>shop_owner_name</td>
			<td>string</td>
			<td>否</td>
			<td>店长名称</td>
		</tr>

		<tr>
			<td>shop_owner_phone</td>
			<td>string</td>
			<td>否</td>
			<td>店长电话</td>
		</tr>

		<tr>
			<td>business_hours</td>
			<td>string</td>
			<td>否</td>
			<td>营业时间</td>
		</tr>
		<tr>
			<td>shop_img_url</td>
			<td>string</td>
			<td>否</td>
			<td>店铺图片</td>
		</tr>
		<tr>
			<td>shop_note</td>
			<td>string</td>
			<td>否</td>
			<td>店铺备注</td>
		</tr>
		<tr>
			<td>other_note</td>
			<td>string</td>
			<td>否</td>
			<td>其他备注</td>
		</tr>

	</tbody>
</table>


<p>成功返回结果</p>

<pre><code>
{
    "result": {
        "status": {
        "code": 0,
        "msg": "succ"
        },
        "data": 
        {
            "account": "admin", 账号
            "shop_name": "", 店铺名称
            "shop_address": "", 店铺地址
            "contact_phone": "", 联系电话
            "shop_owner_name": "", 店长名称
            "shop_owner_phone": "", 店长电话
            "business_hours": "", 营业时间
            "shop_img_url": "", 店铺图片
            "shop_note": "", 店铺备注
            "other_note": null, 其他说明
            "role": "admin", 角色： admin 超级管理员 user用户
            "is_delete": "0", 是否关闭，1已关闭，0未关闭
            "add_time": null, 添加时间
            "update_time": null, 更新时间
        }
    }
}
</code></pre>



<h4><a name="id5">上传图片</a></h4>

<table>
	<thead>
		<tr>
			<th>接口概述</th>
            <th>上传图片</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>功能描述</td>
            <td>上传图片</td>
		</tr>
		<tr>
			<td>请求方式</td>
			<td> http请求post方式</td>
		</tr>
		<tr>
			<td>接口地址</td>
			<td>
				http://git.localhost.com/smdc/api/upload/image?api_key=23166839&&post_change_get=1&user_token=8b03ea885d23b2a06c4fe7af4742d05d&image=
			</td>
		</tr>
		<tr>
			<td>接口作者</td>
			<td>wangchun</td>
		</tr>
		<tr>
			<td>接口版本</td>
			<td>1.0.0</td>
		</tr>
	</tbody>
</table>


<table>
	<thead>
		<tr>
			<th>参数名称</th>
			<th>类型</th>
			<th>必选</th>
			<th>描述</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>user_token</td>
			<td>string</td>
			<td>是</td>
			<td>登录返回的user_token</td>
		</tr>

		<tr>
			<td>image</td>
			<td>string</td>
			<td>是</td>
            <td>用form表单提交， input里面的属性 name=image</td>
		</tr>
		
	</tbody>
</table>


<p>成功返回结果</p>

<pre><code>
{
    "result": {
        "status": {
        "code": 0,
        "msg": "succ"
        },
        "data": 
        {
            "file": "D:\\www_other\\git\\smdc\\/upload/2018-11-25/3280e0fc6ceb0b839eff6aad23521454.jpg",
            "size": 13562,
            "url": "https://img.alicdn.com/tfs/TB1Em.Qc4rI8KJjy0FpXXb5hVXa-780-328.jpg", 图片访问地址
            "file_names": "3280e0fc6ceb0b839eff6aad23521454.jpg"
        }
    }
}
</code></pre>



<h4><a name="id6">账号列表</a></h4>

<table>
	<thead>
		<tr>
			<th>接口概述</th>
            <th>账号列表</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>功能描述</td>
            <td>账号列表</td>
		</tr>
		<tr>
			<td>请求方式</td>
			<td> http请求get方式</td>
		</tr>
		<tr>
			<td>接口地址</td>
			<td>
				http://git.localhost.com/smdc/api/user/lists?api_key=23166839&&post_change_get=1&user_token=8b03ea885d23b2a06c4fe7af4742d05d
			</td>
		</tr>
		<tr>
			<td>接口作者</td>
			<td>wangchun</td>
		</tr>
		<tr>
			<td>接口版本</td>
			<td>1.0.0</td>
		</tr>
	</tbody>
</table>


<table>
	<thead>
		<tr>
			<th>参数名称</th>
			<th>类型</th>
			<th>必选</th>
			<th>描述</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>user_token</td>
			<td>string</td>
			<td>是</td>
			<td>登录返回的user_token</td>
		</tr>

        <tr>
            <td>shop_name</td>
            <td>string</td>
            <td>否</td>
            <td>店铺名称</td>
        </tr>

        <tr>
            <td>contact_phone</td>
            <td>string</td>
            <td>否</td>
            <td>联系电话</td>
        </tr>

        <tr>
            <td>shop_owner_name</td>
            <td>string</td>
            <td>否</td>
            <td>店长名称</td>
        </tr>

	</tbody>
</table>


<p>成功返回结果</p>

<pre><code>
{
    "result": {
        "status": {
        "code": 0,
        "msg": "succ"
        },
        "data": 
        [{
            "id": "3", 编号
            "account": "admin", 账号
            "shop_name": "", 店铺名称
            "shop_address": "", 店铺地址
            "contact_phone": "", 联系电话
            "shop_owner_name": "", 店长名称
            "shop_owner_phone": "", 店长电话
            "business_hours": "", 营业时间
            "shop_img_url": "", 店铺图片
            "shop_note": "", 店铺备注
            "other_note": null, 其他说明
            "role": "admin", 角色： admin 超级管理员 user用户
            "is_delete": "0", 是否关闭，1已关闭，0未关闭
            "add_time": null, 添加时间
            "update_time": null, 更新时间
        }]
    }
}
</code></pre>




<h4><a name="id7">账号删除</a></h4>

<table>
	<thead>
		<tr>
			<th>接口概述</th>
            <th>账号删除</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>功能描述</td>
            <td>账号删除</td>
		</tr>
		<tr>
			<td>请求方式</td>
			<td> http请求post方式</td>
		</tr>
		<tr>
			<td>接口地址</td>
			<td>
				http://git.localhost.com/smdc/api/user/del?api_key=23166839&&post_change_get=1&user_token=8b03ea885d23b2a06c4fe7af4742d05d&id=10
			</td>
		</tr>
		<tr>
			<td>接口作者</td>
			<td>wangchun</td>
		</tr>
		<tr>
			<td>接口版本</td>
			<td>1.0.0</td>
		</tr>
	</tbody>
</table>


<table>
	<thead>
		<tr>
			<th>参数名称</th>
			<th>类型</th>
			<th>必选</th>
			<th>描述</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>user_token</td>
			<td>string</td>
			<td>是</td>
			<td>登录返回的user_token</td>
		</tr>

		<tr>
			<td>id</td>
			<td>int</td>
			<td>是</td>
			<td>账号ID</td>
		</tr>

	</tbody>
</table>


<p>成功返回结果</p>

<pre><code>
{
    "result": {
        "status": {
        "code": 0,
        "msg": "succ"
        },
        "data": 
        {
            "id": "2"
        }
            
    }
}
</code></pre>





<h4><a name="id8">账号查询</a></h4>

<table>
	<thead>
		<tr>
			<th>接口概述</th>
            <th>账号查询</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>功能描述</td>
            <td>账号查询</td>
		</tr>
		<tr>
			<td>请求方式</td>
			<td> http请求get方式</td>
		</tr>
		<tr>
			<td>接口地址</td>
			<td>
				http://git.localhost.com/smdc/api/user/one?api_key=23166839&&post_change_get=1&user_token=8b03ea885d23b2a06c4fe7af4742d05d&id=2
			</td>
		</tr>
		<tr>
			<td>接口作者</td>
			<td>wangchun</td>
		</tr>
		<tr>
			<td>接口版本</td>
			<td>1.0.0</td>
		</tr>
	</tbody>
</table>


<table>
	<thead>
		<tr>
			<th>参数名称</th>
			<th>类型</th>
			<th>必选</th>
			<th>描述</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>user_token</td>
			<td>string</td>
			<td>是</td>
			<td>登录返回的user_token</td>
		</tr>

		<tr>
			<td>id</td>
			<td>int</td>
			<td>是</td>
			<td>账号ID</td>
		</tr>

	</tbody>
</table>


<p>成功返回结果</p>

<pre><code>
{
    "result": {
        "status": {
        "code": 0,
        "msg": "succ"
        },
        "data": 
        {
            "id": "3", 编号
            "account": "admin", 账号
            "shop_name": "", 店铺名称
            "shop_address": "", 店铺地址
            "contact_phone": "", 联系电话
            "shop_owner_name": "", 店长名称
            "shop_owner_phone": "", 店长电话
            "business_hours": "", 营业时间
            "shop_img_url": "", 店铺图片
            "shop_note": "", 店铺备注
            "other_note": null, 其他说明
            "role": "admin", 角色： admin 超级管理员 user用户
            "is_delete": "0", 是否关闭，1已关闭，0未关闭
            "add_time": null, 添加时间
            "update_time": null, 更新时间
        }
            
    }
}
</code></pre>




<h4><a name="id9">桌号列表</a></h4>

<table>
	<thead>
		<tr>
			<th>接口概述</th>
            <th>桌号列表</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>功能描述</td>
            <td>桌号列表</td>
		</tr>
		<tr>
			<td>请求方式</td>
			<td> http请求get方式</td>
		</tr>
		<tr>
			<td>接口地址</td>
			<td>
				http://git.localhost.com/smdc/api/table/lists?api_key=23166839&&post_change_get=1&user_token=8b03ea885d23b2a06c4fe7af4742d05d
			</td>
		</tr>
		<tr>
			<td>接口作者</td>
			<td>wangchun</td>
		</tr>
		<tr>
			<td>接口版本</td>
			<td>1.0.0</td>
		</tr>
	</tbody>
</table>


<table>
	<thead>
		<tr>
			<th>参数名称</th>
			<th>类型</th>
			<th>必选</th>
			<th>描述</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>user_token</td>
			<td>string</td>
			<td>是</td>
			<td>登录返回的user_token</td>
		</tr>

		<tr>
			<td>title</td>
			<td>string</td>
			<td>否</td>
			<td>名称</td>
		</tr>

	</tbody>
</table>


<p>成功返回结果</p>

<pre><code>
{
    "result": {
        "status": {
        "code": 0,
        "msg": "succ"
        },
        "data": 
        [{
            "id": "3", 编号
            "user_id": "1", 用户ID
            "title": "1号", 名称
            "add_time": null, 添加时间
            "update_time": null, 更新时间
        }]
    }
}
</code></pre>




<h4><a name="id10">桌号添加</a></h4>

<table>
	<thead>
		<tr>
			<th>接口概述</th>
            <th>桌号添加</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>功能描述</td>
            <td>桌号添加</td>
		</tr>
		<tr>
			<td>请求方式</td>
			<td> http请求post方式</td>
		</tr>
		<tr>
			<td>接口地址</td>
			<td>
				http://git.localhost.com/smdc/api/table/add?api_key=23166839&post_change_get=1&user_token=8b03ea885d23b2a06c4fe7af4742d05d&title=1号桌
			</td>
		</tr>
		<tr>
			<td>接口作者</td>
			<td>wangchun</td>
		</tr>
		<tr>
			<td>接口版本</td>
			<td>1.0.0</td>
		</tr>
	</tbody>
</table>


<table>
	<thead>
		<tr>
			<th>参数名称</th>
			<th>类型</th>
			<th>必选</th>
			<th>描述</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>user_token</td>
			<td>string</td>
			<td>是</td>
			<td>登录返回的user_token</td>
		</tr>

		<tr>
			<td>title</td>
			<td>string</td>
			<td>是</td>
			<td>名称</td>
		</tr>

	</tbody>
</table>


<p>成功返回结果</p>

<pre><code>
{
    "result": {
        "status": {
        "code": 0,
        "msg": "succ"
        },
        "data": 
        {
            1  表自增长数字
        }
    }
}
</code></pre>




<h4><a name="id11">桌号修改</a></h4>

<table>
	<thead>
		<tr>
			<th>接口概述</th>
            <th>桌号修改</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>功能描述</td>
            <td>桌号修改</td>
		</tr>
		<tr>
			<td>请求方式</td>
			<td> http请求post方式</td>
		</tr>
		<tr>
			<td>接口地址</td>
			<td>
				http://git.localhost.com/smdc/api/table/edit?api_key=23166839&post_change_get=1&user_token=8b03ea885d23b2a06c4fe7af4742d05d&title=234
			</td>
		</tr>
		<tr>
			<td>接口作者</td>
			<td>wangchun</td>
		</tr>
		<tr>
			<td>接口版本</td>
			<td>1.0.0</td>
		</tr>
	</tbody>
</table>


<table>
	<thead>
		<tr>
			<th>参数名称</th>
			<th>类型</th>
			<th>必选</th>
			<th>描述</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>user_token</td>
			<td>string</td>
			<td>是</td>
			<td>登录返回的user_token</td>
        </tr>
        
        <tr>
            <td>id</td>
            <td>int</td>
            <td>是</td>
            <td>编号</td>
        </tr>

        <tr>
            <td>title</td>
            <td>string</td>
            <td>是</td>
            <td>名称</td>
        </tr>

	</tbody>
</table>


<p>成功返回结果</p>

<pre><code>
{
    "result": {
        "status": {
        "code": 0,
        "msg": "succ"
        },
        "data": 
        {
            "id": "3", 编号
            "user_id": "1", 用户ID
            "title": "1号", 名称
            "add_time": null, 添加时间
            "update_time": null, 更新时间
        }
    }
}
</code></pre>





<h4><a name="id12">桌号删除</a></h4>

<table>
	<thead>
		<tr>
			<th>接口概述</th>
            <th>桌号删除</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>功能描述</td>
            <td>桌号删除</td>
		</tr>
		<tr>
			<td>请求方式</td>
			<td> http请求post方式</td>
		</tr>
		<tr>
			<td>接口地址</td>
			<td>
				http://git.localhost.com/smdc/api/table/del?api_key=23166839&&post_change_get=1&user_token=8b03ea885d23b2a06c4fe7af4742d05d&id=1
			</td>
		</tr>
		<tr>
			<td>接口作者</td>
			<td>wangchun</td>
		</tr>
		<tr>
			<td>接口版本</td>
			<td>1.0.0</td>
		</tr>
	</tbody>
</table>


<table>
	<thead>
		<tr>
			<th>参数名称</th>
			<th>类型</th>
			<th>必选</th>
			<th>描述</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>user_token</td>
			<td>string</td>
			<td>是</td>
			<td>登录返回的user_token</td>
		</tr>

		<tr>
			<td>id</td>
			<td>int</td>
			<td>是</td>
			<td>账号ID</td>
		</tr>

	</tbody>
</table>


<p>成功返回结果</p>

<pre><code>
{
    "result": {
        "status": {
        "code": 0,
        "msg": "succ"
        },
        "data": 
        {
            "id": "2"
        }
            
    }
}
</code></pre>



<h4><a name="id13">桌号查询</a></h4>

<table>
	<thead>
		<tr>
			<th>接口概述</th>
            <th>桌号查询</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>功能描述</td>
            <td>桌号查询</td>
		</tr>
		<tr>
			<td>请求方式</td>
			<td> http请求get方式</td>
		</tr>
		<tr>
			<td>接口地址</td>
			<td>
				http://git.localhost.com/smdc/api/table/one?api_key=23166839&&post_change_get=1&user_token=8b03ea885d23b2a06c4fe7af4742d05d&id=2
			</td>
		</tr>
		<tr>
			<td>接口作者</td>
			<td>wangchun</td>
		</tr>
		<tr>
			<td>接口版本</td>
			<td>1.0.0</td>
		</tr>
	</tbody>
</table>


<table>
	<thead>
		<tr>
			<th>参数名称</th>
			<th>类型</th>
			<th>必选</th>
			<th>描述</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>user_token</td>
			<td>string</td>
			<td>是</td>
			<td>登录返回的user_token</td>
		</tr>

		<tr>
			<td>id</td>
			<td>int</td>
			<td>是</td>
			<td>账号ID</td>
		</tr>

	</tbody>
</table>


<p>成功返回结果</p>

<pre><code>
{
    "result": {
        "status": {
        "code": 0,
        "msg": "succ"
        },
        "data": 
        {
            "id": "3", 编号
            "user_id": "1", 用户ID
            "title": "", 名称
            "add_time": null, 添加时间
            "update_time": null, 更新时间
        }
            
    }
}
</code></pre>





</body>

</html>